[run]
branch = True
source = aodncore
omit =
    setup.py
    test_aodncore/*
    aodncore/util/external/*

[report]
exclude_lines =
    pragma: no cover
    @abc.abstractmethod
    def __repr__
    raise NotImplementedError
    except ImportError

ignore_errors = True
